html {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url("images/pattern.jpg");
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.category-header {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paints {
  background-color: skyblue;
}

.pricing {
  font-weight: bold;
  color: blue;
}
